/**
 * Styles for Tennis Club Membership
*/
:root {
    --tennis-fieldsize: 4;
    --tennis-level-1: #8dccad;
    --tennis-level-2: #f5cc7f;
    --tennis-level-3: #7b9fe0;
    --tennis-level-4: #f27c8d;
    --tennis-black: black;
    --tennis-registrationColor: #d9480f;
    --tennis-registrationBackground: rgba(233, 171, 88, 0.5);
    --tennis-registrationBorder: 2px solid rgb(233 171 88);
    --tennis-gridWidth: auto;
    --tennis-gridAfter: 150px;
    --tennis-registrationHeight: 100px;
    --tennis-registrationWidth: 100px;
    --tennis-registrationMargin: 1em;
    --tennis-rowGap: 1em;
  }

#club-registration-upload > label:hover {
    cursor:pointer;
}

#club-registration-upload > label {
    margin-top: var(--tennis-registrationMargin);
    padding: var(--tennis-registrationMargin);
    background-color: var(--sydney-global-color-1);
    color: white;
}

#club-user-upload > label:hover {
    cursor:pointer;
}

#club-user-upload > label {
    margin-top: var(--tennis-registrationMargin);
    padding: var(--tennis-registrationMargin);
    background-color: var(--sydney-global-color-1);
    color: white;
}

/* .person-sponsor {
    list-style: none;
}

.person-sponsored {
    list-style: none;
} */

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    margin: 0 auto 10px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: minmax(100px,auto) 1fr 1fr;  */
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.wrapper > article {
    border: 2px solid var(--tennis-registrationBorder);
    border-radius: 5px;
    background-color:  var(--tennis-registrationBackground);
    padding: 1em;
    color: var(--tennis-registrationColor)
}

article.membership.sponsor {
    grid-column: 1 / 2;
    grid-row: 1;
}
article.membership.current-registration {
    grid-column: 2 / 3;
    grid-row: 1;
}
article.membership.sponsored {
    grid-column: 3 / 4;
    grid-row: 1;
}
article.membership.nav {
    grid-column: 1 / 4;
    grid-row: 2;
}
article.membership.history {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display:none;
}
article.membership.address {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    display:none;
}
article.membership.agreement {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    display:none;
}
article.membership.emergency {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    display:none;
}


article.membership > ul.membership > li > input, table.membership tbody > tr > td > input {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: dotted 1px black;
    height: 2em;
    width: 12em;
    padding: 0px 0px 0px 5px;
    margin: 3px 0px 0px 0px;
}

.membership.gender-selector {
  height: 2em;
  width: 5em;
  background-color: white;
  border: dotted 1px black;
  padding: 0px 0px 0px 5px;
  margin: 0px 0px 0px 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

article.membership > nav.menu {
    margin: 0px auto 0px auto;
}

.membership.nav span.menu.item {
    display: inline-block;
    width: 23%;
    
}
.membership.nav span.menu.item > a {    
    color: rgba(183, 0, 255, 0.788);
}
.membership.nav .menu.item a:hover {
    cursor:pointer;
    color: red;
    font-style: italic;
    text-decoration: underline;
  }

article>h5 {
    color: #d9480f;
}

ul.membership {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

form.membership.sponsor{
    display: none
}

ul.membership.sponsored.details {
    display:none;
}
form.membership.sponsored {
    display: none
}

article.membership input[type="text"],input[type="email"], input[type="tel"], input[type="number"],input[type="date"] {
    display: inline-block;
    width: 60%;
    height: 2em;
    padding: 0px 0px 0px 3px;
    border: dotted 1px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

article.membership input[type="tel"] {
    display: inline-block;
    width: 50%;
    height: 2em;
    padding: 0px 0px 0px 5px;
}
article.membership input[type="date"] {
    display: inline-block;
    width: 10em;
    height: 2em;
    padding: 0px 0px 0px 5px;
}

button.membership {
    display:inline-block;
    width: 5em;
    background-color: #d9480f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: small;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    text-transform:none;
    padding: 0 0 0 0;
    margin: 0 0 0 1em;
}
button.membership:hover {
    background-color: #f27c8d;
    color: white;
    cursor: pointer;
}

#cancel-sponsor {
    display:block;
}

#cancel-sponsored {
    display:block;
}

.membership.error {
    color:red;
}

li.membership:nth-child(-n+3) {
    display:inline-block;
    margin: 0 1em 0 0;
}

li.membership > span{
    color:black;
}
li.membership > a{
    color:black;
}


input[type="text"].membership.add-sponsored  {
  width: 20em;
}
input[type="email"].membership.add-sponsored  {
  width: 15em;
}

input[type="date"].membership.add-sponsored  {
  width: 15em;
}

form.membership.sponsor > label {
    display: block;
    margin: 0 0 3px 0;
    padding: 0 0 0 0;
}

dialog.membership.add-sponsored {
  background-color: white; /*var(--tennis-registrationBackground);*/
  color: var(--tennis-registrationColor);
  border: 2px solid var(--tennis-registrationBorder);
}    

dialog.membership.add-sponsored > h3 {
  color: var(--tennis-registrationColor);
}

dialog.membership.add-sponsored::backdrop {
  background-image:
    radial-gradient(
      circle,
      #fff 0 5vw,
      transparent 5vw 20vw,
      #fff 20vw 22.5vw,
      #eee 22.5vw
    ),
    conic-gradient(
      #272b66 0 50grad,
      #2d559f 50grad 100grad,
      #9ac147 100grad 150grad,
      #639b47 150grad 200grad,
      #e1e23b 200grad 250grad,
      #f7941e 250grad 300grad,
      #662a6c 300grad 350grad,
      #9a1d34 350grad 400grad,
      #43a1cd 100grad 150grad,
      #ba3e2e
    );
}


  