caption {
    display: table-caption;
    text-align: center;
    font-size: 150%;
}

datalist#emaildata {
    display: none;
}

.xlc-error {
    color: red;
}

.sbc-container {
    display: block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    text-decoration: none;
}

.sbc-item {
    text-decoration: none;
    list-style: none;
    flex: 1 1 auto;
    width: auto;
    height: auto;
    margin: 0 0 2rem 0;
    font-size: 1em !important;
}

.sbc-container img {
    width: 350px;
    margin: 0 0 0 0 !important;
}

.sbc-item>a:link {
    /* Applies to unvisited links of class mainNav */
    text-decoration: none;
    font-weight: bold;
    font-size: 1em !important;
    background-color: inherit;
    color: purple;
}

.sbc-item>a:visited {
    /* Applies to visited links of class mainNav */
    text-decoration: none;
    font-weight: bold;
    font-size: 1em !important;
    background-color: inherit;
    color: purple;
}

.sbc-item>a:hover {
    /* Applies to links under the pointer of class mainNav */
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em !important;
    background-color: inherit;
    color: purple;
}

.sbc-item>a:active {
    /* Applies to activated links of class mainNav */
    text-decoration: underline;
    font-weight: bold;
    font-size: 1em !important;
    background-color: inherit;
    color: purple;
}

/*------------------------------------------------------------------------------------
 * Draw Styling
 *-----------------------------------------------------------------------------------*/
 :root {
    --fieldsize: 4;
    --rounds: 2;
    --drawHeight: 300px;
    --entryHeight: 25px;
    --roundWidth: calc(100% / (var(--rounds)+1));
 }
 
table.bracketdraw {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
    font-size: .75rem;
}
table.bracketdraw th {
    border: 3px solid purple;
}
table.bracketdraw td {
    border: 3px solid purple;
    background-color: rgb(176,224,230);
}

.tennistablescores {
    border-collapse: collapse;
    border: none !important;
}
.tennistablescores td {
    padding: 0 !important;
    border: none !important;
}

.matchtitle {
    text-decoration: underline;
}

.matchstatus {
    font-size: 80%;
    color: blue;
}

.matchcomments {
    color: white;
    background-color: red;
    font-size: 80%;
}

.homeentrant {
    color: rgb(0,0,139);
}
.visitorentrant {
    color: green;
}

.tennis-error {
    color: red;
}

#tennis-event-message {
    border: 1px blue solid;
    display: none;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); 
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 150px;
    text-align:center;
    border-radius: 8px;
}

.menu-icon {
    display: block;
    cursor: pointer;
    position: relative;
    left: 80%;
}
  
.bar1, .bar2, .bar3 {
    width: 20px;
    height: 2px;
    background-color: #1a1a1a;
    margin: 3px 0;
    transition: 0.4s;
    display: block;
}

.matchaction {
    display: none;
    background-color: white;
    border: 1px solid black;
    list-style-type: none;
    width: 60%;
    position: absolute;
    top: 8px;
    left: -50%;
    font-size: .6rem !important;
    padding-left: 2px;
}
.matchaction > a {
    color: black;  
    cursor: pointer;
}

.recordscores {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

/*-----------------------------------------------------------------
 * Signup styling
 *----------------------------------------------------------------*/
 .eventSignup {
    width: 75%;
    list-style: none;
}

.entrantSignup {
    width: 100%;
}

.entrantPosition {
    background-color: white;
    color: blue;
    width: 5%;
    display: inline-block;
}

div.entrantName {
    background-color: white;
    color: black;
    display: inline-block;
    width: 40% !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 8px;
}

div.entrantSeed {
    background-color: white;
    color: black;
    display: inline-block;
    width: 10% !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 8px;
}

input[type=text].entrantName {
    background-color: white;
    color: black;
    display: inline-block;
    width: 40% !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 8px;
}

input[type=number].entrantSeed {
    background-color: white;
    color: black;
    display: inline-block;
    width: 12% !important;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 8px;
}

a.entrantDelete:link, a.entrantDelete:visited {
    background-color: blue;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 700;
  }
  
  a.entrantDelete:hover, a.entrantDelete:active {
    background-color: red;
  }

/*Buttons*/
.signupContainer .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    text-transform: none;
  }

.bracketDrawButtons .button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 8px;
    text-transform: none;
}

.signupContainer .button:hover, .signupContainer .button:active {
    background-color: green;
  }

.bracketDrawButtons .button:hover, .bracketDrawButtons .button:active {
    background-color: green;
  }

.entrantHighlight {
    background-color: yellow;
}


/*
.item-player {
    background-color: inherit;
    height: 50px;
    vertical-align: middle;
}

.item-player > p:first-child {
    float:left;
    width: 60%;
}
.item-player > p:last-child {
    float: right;
    width: 40%;
}
.item-player > p:nth-child(n) {
    line-height: 1.6;
    margin-top: 10%;
}


.draw {
    box-sizing: border-box;
    background-color: pink;
    border: 2px dashed green;
    height: calc(var(--entryHeight) * var(--fieldsize));
}

.roundof2 {
    width: var(--roundWidth);
    float: left;
}
.roundof2:first-child() {
    border-left: 2px solid black;
    margin-top: calc(var(--entryHeight) * 0.5 );
}
.roundof2:not(:first-child) {
    border-left: 2px solid black;
    margin-top: calc(var(--entryHeight) * 2 );
}

.roundof4:nth-child(n) {
    border-right: 2px solid black;
}

.roundof4 {
    width: var(--roundWidth);
    float: left;
}


.item-score {
    text-align: center;
}
*/


/*------------------------------------------------------------------------------------
                          iPhone 2 3 4 4s
-------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    /*.sbc-item img {
        width: 100px;
    }*/
    .sbc-item a h3 {
        font-size: small !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
    /*.sbc-item img {
        width: 100px;
    }*/
    .sbc-item a h3 {
        font-size: small !important;
    }
}


/*----------------------------------------------------------------------
             iPhone 6,
             iPhone 6 Plus,
             Galaxy S6 & Galaxy S6 Edge 
------------------------------------------------------------------------------------*/

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: portrait),
only screen and (min-width: 414px) and (max-width: 736px) and (orientation: portrait),
only screen and (min-width: 380px) and (max-width: 640px) and (orientation: portrait) {
    .sbc-item img {
        width: 150px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 667px) and (orientation: landscape),
only screen and (min-width: 414px) and (max-width: 736px) and (orientation: landscape),
only screen and (min-width: 380px) and (max-width: 640px) and (orientation: landscape) {
    .sbc-item img {
        width: 200px;
    }
}